%size {
    font-size: 12px;
    color    : vv(secondary);
}

%color {
    color: vv(primary);
}

// .top-link {
//     @extend %size;
//     visibility      : hidden;
//     position        : fixed;
//     bottom          : 60px;
//     right           : 30px;
//     z-index         : 99;
//     background-color: vv(tertiary);
//     width           : 42px;
//     height          : 42px;
//     padding         : 12px;
//     border-radius   : 64px;
//     transition      : visibility 0.5s, opacity 0.8s linear;

//     &:hover {
//         @extend %color;
//     }
// }

.footer {
    max-width  : calc(var(--main-width) + var(--gap) * 2);
    margin     : auto;
    padding    : calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
    text-align : center;
    line-height: 24px;

    @extend %size;

    a {
        color        : inherit;
        border-bottom: 1px solid;
        border-color : vv(secondary);

        &:hover {
            border-color: vv(primary);
            @extend %color;
        }
    }


}