.entry {
    text-align: center;
    margin    : var(--gap) 0 calc(var(--gap) * 2) 0;
    @include animation(fade-in-bottom .3s both);

    %mb14 {
        margin-bottom: 14px;
    }

    h1 {
        font-size  : 40px;
        line-height: 1.3;
        @extend %mb14;
    }

    span {
        display    : block;
        font-style : oblique;
        font-size  : 14px;
        line-height: 1.6;
        color      : vv(secondary);
        @extend %mb14;
    }

}