.single {
    @extend %box;

    min-width: 200px;
    // max-width: 980px;
    margin: 0 auto;

    header {
        text-align: center;
        white-space: nowrap;
        font-size  : 14px;
        line-height: 1.6;
        color      : vv(secondary);
        border-bottom: 1px solid vv(border);
        padding-bottom: 14px;
        @extend %mbgap;
    }

    @import "partials/post/toc";

    .markdown-body {
        color: var(--content);
        padding: 7px;
    }

    @import "extend/github-markdown.css";

    .meta {

        margin: 30px 0 12px 0;

        @import "partials/post/further";

        .further {
            @extend %mbgap;
        }

        @import "partials/post/categories";

        .categories {
            @extend %mbgap;
        }

        @import "partials/post/tags";

        .tags {
            @extend %mbgap;
            font-size  : 14px;
            line-height: 34px;
        }

    }
}