.summary {
    @extend %box;
    margin-bottom: var(--gap);

    %summary-color {
        color: vv(secondary);
    }

    %mb12 {
        margin-bottom: 12px;
    }

    .title {
        font-size  : 24px;
        line-height: 1.3;

        white-space: nowrap;
        overflow: hidden;
    }

    .byline {
        @extend %summary-color;
        font-size  : 12px;
        line-height: 1.5;
    }

    .content {
        margin: 8px 0;
        line-height: 1.6;
        overflow: hidden;
        @extend %summary-color;
    }

    @import "partials/post/tags";
    @import "partials/post/categories";
    // .tags {
    //     font-size: 8px;
    //     line-height: 24px;
    // }
}