// $enableRadius: {{ .Param "mono.enableRadius" | default true }};

@import "core/";

html {
    -webkit-tap-highlight-color: transparent;
    overflow-y: scroll;
}

body {
    font-family            : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-display           : swap;
    font-size              : 18px;
    line-height            : 1.6;
    //mac平滑字体
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;

    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    @include overflow-wrap(break-word);
    overflow-x: hidden;
    background-color: vv(theme-bg);
}

a,
button,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: vv(primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

img {
    display: block;
    max-width: 100%;
}

sup {
    color: vv(secondary);
    font-size: 70%;
    margin-left: 5px;
}


::-webkit-scrollbar-track {
    background: 0 0;
    background-color: vv(theme-bg);
}

::-webkit-scrollbar-thumb {
    background-color: vv(tertiary);
    border          : 5px solid;
    // border-radius   : 8px;
    @include border-radius(var(--radius));
    border-color: vv(theme-bg);

    &:hover {
        background-color: vv(secondary);
    }
}

@import "partials/header";

main {
    margin   : auto;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    // min-width: 200px;
    max-width: calc(var(--main-width) + var(--gap) * 2);
    padding  : var(--gap);

    @import "partials/page.title";

    @import "index";
    @import "single";
    @import "list";
    @import "tag.term";
    @import "category.term";

    @import "summary";

    @import "partials/list/pagination";
}

@import "partials/footer";