{{ define "main" }}
<article class="single">
    {{ if not (.Param "disableDate") }}
        <header>
            <time datetime={{- .Date.Format "2006-01-02 00:00" -}}>{{- .Date.Format "2006-01-02" -}}</time> · {{ .ReadingTime }} min read 
        </header>
    {{ end }}
    {{ partial "post/toc.html" . }}
    <section class="markdown-body">
        {{ .Content }}
    </section>
    <footer class="meta">
        {{ partial "post/categories.html" . }}
        {{ partial "post/tags.html" . }}
        {{ partial "post/further.html" . }}
        {{ partial "post/comments.html" . }}
    </footer>
</article>
{{ end }}