<header class="entry">
    {{ $title := .Site.Params.Mono.Quote }}
    {{ if not .IsHome | and .Title }}
    {{ $title = .Title }}
    {{ end }}
    <h1 class="title">
        {{- $title -}}
    </h1>
    {{ with .Content }}
    <div class="content">
        {{ if $.IsPage }}
            <span>Published on <time datetime={{- $.Date.Format "2006-01-02 00:00" -}}>{{- $.Date.Format "2006-01-02" -}}</time></span>
        {{ else }}
            {{ . }}
        {{ end }}
    </div>
    {{ end }}
</header>