.further {
    // display        : flex;
    // justify-content: space-between;
    display    : flex;
    line-height: 30px;
    @extend %box2;

    .previous {
        width: 50%;

        padding-inline-start: 14px;
        padding-inline-end: 14px;
        @include border-radius(var(--radius));

        &:hover {
            background-color: vv(border);
        }

        .title {
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: small;
            color: vv(secondary);
        }
    }

    .next {
        @extend .previous;
        margin-inline-start: auto;
        text-align         : right;
    }
}